
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
img{
    height: 200px;
    border-radius: 50%;
    border: 4px solid rgb(207, 215, 230);
}
body{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 70vh;
    /* background-color:#AEFEFF; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}
.box{
   
    background-color: #fff;
    padding: 20px;
    width:500px;
    box-shadow:0px 0px 7px 0px;
    

}
@media(max-width:600px){
    .box{
        width:350px;    
    }
}
p{
    font-family: 'Quintessential', cursive;
    font-weight: 900;
    /* color: hsl(181, 95%, 46%); */
    opacity: .8;
}
h2{
    color:rgba(15, 15, 252,.5);
    letter-spacing: 5px;
}
h3{
    line-height: 1;
    color: rgb(119, 119, 247);
    letter-spacing: 2px;
}
h1{
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), 
              linear-gradient(to right, rgb(189, 188, 233), purple);
  background-origin: padding-box, border-box;
  background-repeat: no-repeat; /* this is important */
  border-bottom: 5px solid transparent;
    width: max-content;
    margin: 50px auto;
    padding-bottom: 15px;
}